includes:
    - vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 4
    paths:
        - src
    ignoreErrors:
        - '#class craft\\ckeditor\\.*not found#i'
        - '#class spicyweb\\tinymce\\.*not found#i'
        - '#class nystudio107\\codefield\\.*not found#i'
        - '#class benf\\neo\\.*not found#i'
        - '#class anvildev\\beacon\\.*not found#i'
        - '#class nystudio107\\seomatic\\.*not found#i'
        - '#class verbb\\hyper\\.*not found#i'
